@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var carga = ViewBag.video;
}

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saluda a tu asistente</title>
    <style>
        #number {
            font - size: 50px;
            color: #434343;
        }
    </style>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="number"></div>
    <h1>Habla por el microfono</h1>
    <br>
    <div class="card">
        <div class="card-body">
            <center id="contenedorImagen">

            </center>

        </div>

    </div>
   
 
    
  @if(ViewBag.hola == null)
    {
        <script>
            $.ajax({
                type: 'POST',
                url: "@Url.Action("LanzarConsola", "Principal", new { Area = "" })/",
                data: { nose: "1" },
                success: function (result) {
                   var desaparecerObject = document.querySelectorAll("#desaparece");
                    if(desaparecerObject != null)
                    {
                        for(i = 0; i<desaparecerObject.length; i++)
                        {
                            desaparecerObject[i].remove();
                        }   
                    }
                    var unicornio = JSON.parse(result);
                    var unicornioAzul = unicornio.respuestaVideo;
                    var unicornioRojo = unicornio.respuesta;
                    var contenedor = document.getElementById("contenedorImagen");

                    var imagen = document.createElement("video");               
                    var origen = document.createElement("source");


                    origen.setAttribute("src", unicornioAzul);

                    imagen.setAttribute("autoplay", "autoplay");
                    imagen.setAttribute("muted", "");
                    imagen.setAttribute("width", "600");
                    imagen.setAttribute("height", "500");
                    imagen.setAttribute("id", "desaparece");
                    contenedor.appendChild(imagen);
                    imagen.appendChild(origen);

                    var br = document.createElement("br");
                    br.setAttribute("id", "desaparece");
                    contenedor.appendChild(br);
                    

                    var boton = document.createElement("button");
                    boton.setAttribute("style", "border-radius: 50%;box-shadow: 0px 0px 5px black;position: relative");
                    boton.setAttribute("class", "btn btn-primary");
                    boton.setAttribute("id", "desaparece");
                    boton.setAttribute("onclick", "reiniciar()");
                    var icon = document.createElement("i");
                    icon.setAttribute("class", "material-icons dp48");
                    var textIcon = document.createTextNode("keyboard_voice");
                    icon.appendChild(textIcon);
                    boton.appendChild(icon);
                    contenedor.appendChild(boton);
                    var boton = document.querySelector('button#desaparece');
                    document.querySelector("video#desaparece").addEventListener('ended', video2, false);
                    boton.addEventListener('click', function(event){
                    $.ajax({
                    type: 'POST',
                    url: "@Url.Action("BotFunction", "Principal", new { Area = "" })/",
                    success: function(result){
                    }
                    });
                });

                }
            });
        </script>
        <script>
            function video2(){
                var endedvideo = document.querySelectorAll("#desaparece");
                for(i=0;i<endedvideo.length;i++){
                    endedvideo[i].remove();
                }
                var contenedor = document.getElementById("contenedorImagen");

                    var imagen = document.createElement("video");               
                    var origen = document.createElement("source");


                    origen.setAttribute("src", "https://user-images.githubusercontent.com/69684654/210652135-abb7554d-c673-4552-b46b-dca4139ee7dc.mp4");

                    imagen.setAttribute("autoplay", "autoplay");
                    imagen.setAttribute("muted", "muted");
                    imagen.setAttribute("width", "600");
                    imagen.setAttribute("height", "500");
                    imagen.setAttribute("id", "desaparece");
                    imagen.setAttribute("loop", "");
                    contenedor.appendChild(imagen);
                    imagen.appendChild(origen);

                    var br = document.createElement("br");
                    br.setAttribute("id", "desaparece");
                    contenedor.appendChild(br);
                    var boton = document.createElement("button");
                    boton.setAttribute("style", "border-radius: 50%;box-shadow: 0px 0px 5px black;position: relative");
                    boton.setAttribute("class", "btn btn-primary");
                    boton.setAttribute("id", "desaparece");
                    boton.setAttribute("onclick", "reiniciar()");
                    var icon = document.createElement("i");
                    icon.setAttribute("class", "material-icons dp48");
                    var textIcon = document.createTextNode("keyboard_voice");
                    icon.appendChild(textIcon);
                    boton.appendChild(icon);
                    contenedor.appendChild(boton);
                    var boton = document.querySelector('button#desaparece');
                    boton.addEventListener('click', function(event){
                    $.ajax({
                    type: 'POST',
                    url: "@Url.Action("BotFunction", "Principal", new { Area = "" })/",
                    success: function(result){
                    }
                    });
                });
            }
        </script>
        <script>
            $.ajax({
                    type: 'POST',
                    url: "@Url.Action("BotFunction", "Principal", new { Area = "" })/",
                    success: function(result){
                        
                    }
            });
        </script>
        <script>
            function reiniciar(){ 
                $("button").css("background", "green");
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("LanzarConsola", "Principal", new { Area = "" })/",
                    data: { nose: "1" },
                    success: function (result) {
                        var desaparecerObject = document.querySelectorAll("#desaparece");
                        if(desaparecerObject != null)
                        {
                            for(i = 0; i<desaparecerObject.length; i++){
                                desaparecerObject[i].remove();
                            }   
                        }

                        var unicornio = JSON.parse(result);
                        var unicornioAzul = unicornio.respuestaVideo;
                        var unicornioRojo = unicornio.respuesta;
                        var contenedor = document.getElementById("contenedorImagen");
                        
                        var imagen = document.createElement("video");
                        var origen = document.createElement("source");

                        origen.setAttribute("src", unicornioAzul);

                        imagen.setAttribute("autoplay", "autoplay");
                        imagen.setAttribute("width", "600");
                        imagen.setAttribute("height", "500");
                        imagen.setAttribute("id", "desaparece");
                        contenedor.appendChild(imagen);
                        imagen.appendChild(origen);
                       

                        var br = document.createElement("br");
                        br.setAttribute("id", "desaparece")
                        contenedor.appendChild(br);

                        var boton = document.createElement("button");
                        boton.setAttribute("style", "border-radius: 50%;box-shadow: 0px 0px 5px black;position: relative;");
                        boton.setAttribute("class", "btn btn-primary");
                        boton.setAttribute("id", "desaparece");
                        boton.setAttribute("onclick", "reiniciar()");
                        var icon = document.createElement("i");
                        icon.setAttribute("class", "material-icons dp48");
                        var textIcon = document.createTextNode("keyboard_voice");
                        icon.appendChild(textIcon);
                        boton.appendChild(icon);
                        contenedor.appendChild(boton);
                        var boton = document.querySelector('button#desaparece');
                        boton.addEventListener('click', function (event) {
                            $.ajax({
                                type: 'POST',
                                url: "@Url.Action("BotFunction", "Principal", new { Area = "" })/",
                                success: function (result) {
                                }
                            });
                        });
                        document.querySelector("video#desaparece").addEventListener('ended', video2, false);
                    }
                });
            }
        </script>
    }

</body>

</html>


